<template>
    <div class="main">
        <h1>Dashboard</h1>
        <router-link :to="{ name: 'sortingVisualisation'}">Sorting Visualisation</router-link>
        <br>
        <router-link :to="{ name: 'snakeGame'}">Snake Game</router-link>
        <br>
    </div>
</template>

<script>
  export default {
    name: 'DashboardComponent',
    props: {

    },
    data: () => ({

    }),
    computed: {

    },
    created () {

    },
    methods: {
    }
  }
</script>

<style scoped lang="scss">
    @import "DashboardComponent";
</style>
