@charset "UTF-8";

$c-chinese-violet: #7F557D;
$c-midnight: #7F1C7A;
$c-madrigras: #871081;
$c-independence: #444B6E;
$c-weldon-blue: #779FA1;
$c-roman-silver: #828A95;
$c-honey-dew: #EFF9F0;

* {
  box-sizing: border-box;
}

.game {
  position: fixed;
  width: 100vw;
  height: 100vw;
}
.aside{
  padding: 20px 0;

  & > button{
    padding: 10px 20px;
    background: $c-independence;
    color: $c-honey-dew;
    transition: .3s;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 auto 20px auto;
    display: block;
    width: 180px;
    text-align: center;

    &:hover{
      background: darken($c-independence, 5%);
    }
  }

  &-panel{
    border: 2px solid $c-independence;
    border-radius: 4px;
    width: 180px;
    padding: 10px 20px;
    margin: 0 auto;
    color: $c-midnight;
    font-weight: bold;
    font-style: 20px;
  }
}

.main{
  position: relative;
}

.field{
  box-sizing: content-box;
  margin: 0 auto;
  position: fixed;
  top: 200px;
  left: calc(50vw - 320px / 2);
  width: 320px;
  height: 320px;
}
.row{
  margin: 0;
}
.cell{
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid $c-weldon-blue;
  font-size: 10px;
  margin: 0;
  border-radius: 50%;
}

.food{
  position: relative;
  color: $c-honey-dew;
  border: 2px dotted;
  background: $c-madrigras;

  &:before{
    content: "*";
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 22px;
    line-height: 1.1em;
    text-align: center;
    top: 0;
    left: 0;
  }
}
.body{
  background: $c-weldon-blue;
}
.head{
  background: $c-independence;
}