<template>
  <div class="game">
    <div class="aside">
      <button @click="switchGame">
        <span v-if="started">{{btnStopTitle}}</span>
        <span v-else>{{btnStartTitle}}</span>
      </button>
      <button @click="switchPause">
        <span v-if="!paused">{{btnPauseTitle}}</span>
        <span v-else>{{btnUnPauseTitle}}</span>
     </button>
      <div class="aside-panel">
        <span class="cell food score"></span>
        <span>{{score}}</span>
      </div>
    </div>
  <div class="main">
    <div class="field" ref="field">
      <div v-for="(row, index) in rowsN" :key="'row'+index" class="row">
        <div v-for="(col, index) in colsN" :key="'col'+index" class="cell"
             :class="{food: isFood(col, row), head: isHead(col, row), body: isBody(col, row) }">
       </div>
      </div>
     </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SnakeGameComponent',
    props: {

    },
    data: () => ({
      fieldWidthPx: 320,
      fieldOffsetYPx: 200,
      speed: 180,
      score: 0,
      initFoodWeight: 1,
      foodWeight: 1,
      rowsN: 16,
      colsN: 16,
      field: [],
      food: {},
      snake: [],
      snakeBodyLength: 4,
      btnStartTitle: 'Play [enter]',
      btnPauseTitle: 'Pause [space]',
      btnUnPauseTitle: 'Continue [space]',
      btnStopTitle: 'Stop [enter]',
      dir: 'right',
      drawInterval: undefined,
      play: {},
      paused: false,
      started: false,
      sounds: {}
    }),
    computed: {

    },
    created () {
      this.init()
    },
    methods: {
      isFood (x, y) {
        if(this.food){
          if (x == this.food.x && y == this.food.y) return true
        }
      },
      isHead (x, y) {
        if (this.snake){
          if (x == this.snake[0].x && y == this.snake[0].y) return true
        }
      },
      isBody (x, y) {
        if (this.snake) {
          for (let i = 1; i < this.snake.length; i++) {
            if (x == this.snake[i].x && y == this.snake[i].y) return true
          }
        }
      },
      newFood () {
        this.food = {x: this.random(1, this.colsN), y: this.random(1, this.rowsN)}
      },
      newSnake () {
        this.snake = []
        this.snake[0] = {x: this.random(1, this.colsN), y: this.random(1, this.rowsN)}
        for (let i=1; i<= this.snakeBodyLength; i++){
          this.snake.push({x: this.snake[0].x - i, y: this.snake[0].y })
        }
      },
      switchGame () {
        this.started = !this.started
        if (this.started) {
          this.startGame()
        } else {
          this.stopGame()
        }
      },
      startGame () {
        this.started = true
        this.paused = false
        this.score = 0
        this.dir = 'right'
        this.newSnake()
        this.newFood()
        this.drawInterval = setInterval(()=>{
          this.draw()
        }, this.speed)
      },
      switchPause () {
        this.paused = !this.paused

        if (this.paused) {
          clearInterval(this.drawInterval)
        } else {
          this.drawInterval = setInterval(()=>{
            this.draw()
          }, this.speed)
        }
      },
      initSounds () {
        this.sounds.eat = new Audio(require('../assets/sounds/eat.mp3'))
        this.sounds.left = new Audio(require('../assets/sounds/left.mp3'))
        this.sounds.right = new Audio(require('../assets/sounds/right.mp3'))
        this.sounds.up = new Audio(require('../assets/sounds/up.mp3'))
        this.sounds.down = new Audio(require('../assets/sounds/down.mp3'))
        this.sounds.dead = new Audio(require('../assets/sounds/dead.mp3'))
      },
      init () {
        this.initSounds()

        window.addEventListener('touchstart', (e) => {
          let head = document.getElementsByClassName('head')[0]
          let headX = head.offsetLeft + (window.innerWidth - this.fieldWidthPx) / 2
          let headY = head.offsetTop + this.fieldOffsetYPx

          if (this.dir === 'left' || this.dir === 'right'){
            if (e.touches[0].pageY <= headY){
              this.turn('up')
            } else if (e.touches[0].pageY > headY){
              this.turn('down')
            }
          } else if (this.dir === 'up' || this.dir === 'down'){
            if (e.touches[0].pageX <= headX){
              this.turn('left')
            } else if (e.touches[0].pageX > headX){
              this.turn('right')
            }
          }
        })

        window.addEventListener('keydown', (e) => {

          switch(e.code) {
            case 'ArrowUp':
              if (this.dir != 'down'){
                this.turn('up')
              }
              break
            case 'ArrowRight':
              if (this.dir != 'left'){
                this.turn('right')
              }
              break
            case 'ArrowDown':
              if (this.dir != 'up'){
                this.turn('down')
              }
              break
            case 'ArrowLeft':
              if (this.dir != 'right'){
                this.turn('left')
              }
              break
          }
        })

        window.addEventListener('keyup', (e) => {
          switch(e.code) {
            case 'Space':
              this.switchPause()
              break
            case 'Enter':
              this.switchGame()
              break
          }
        })

        this.field = new Array(this.rowsN)
        for (let i = 1; i <= this.colsN; i++) {
          this.field[i] = new Array(this.rowsN)
        }

        for (let i=1; i <= this.colsN; i++){
          for (let j=1; j <= this.rowsN; j++){
            this.field[i][j] = {x: i, y: j}
          }
        }

        this.newSnake()
        this.newFood()
        this.startGame()
      },
      turn (dir){
        this.dir = dir
        this.sounds[dir].play()
      },
      stopGame () {
        this.paused = false
        this.started = false
        clearInterval(this.drawInterval)
      },
      draw () {
          let head = {}
          switch(this.dir){
            case 'up':
              head.x = this.snake[0].x
              if (this.snake[0].y == 1){
                head.y = this.rowsN
              } else{
                head.y = this.snake[0].y - 1
              }
              break
            case 'right':
              head.y = this.snake[0].y
              if (this.snake[0].x == this.colsN){
                head.x = 1
              } else{
                head.x = this.snake[0].x + 1
              }
              break
            case 'down':
              head.x = this.snake[0].x
              if (this.snake[0].y == this.rowsN){
                head.y = 1
              } else{
                head.y = this.snake[0].y + 1
              }
              break
            case 'left':
              head.y = this.snake[0].y
              if (this.snake[0].x == 1){
                head.x = this.colsN
              } else{
                head.x = this.snake[0].x - 1
              }
              break
          }
          this.snake.unshift(head)
          if (!this.eat()) this.snake.pop()
          if (this.bite()) this.stopGame()
      },
      eat () {
        if (this.food.x == this.snake[0].x && this.food.y == this.snake[0].y) {
          this.sounds.eat.play()
          this.score += this.foodWeight
          this.newFood()
          return true
        } else {
          return false
        }
      },
      bite () {
        for (let i =1; i < this.snake.length; i++){
          if (this.snake[i].x == this.snake[0].x && this.snake[i].y == this.snake[0].y) {
            this.sounds.dead.play()
            return true
          }
        }
        return false
      },
      random (min, max) {
        return Math.max( Math.floor(Math.random() * max + 1), min)
      }
    }
  }
</script>

<style scoped lang="scss">
    @import "SnakeGameComponent.scss";
</style>
