<template>
  <div class="main">
    <div class="main-buttons">
      <button @click="clearCanvas">Clear Canvas</button>
      <button @click="initArray">New Array</button>
      <button @click="bubbleSort">Bubbble Sort</button>
    </div>
    <canvas ref="canvas" id="canvas" :width="canvas.width" :height="canvas.height"></canvas>
  </div>
</template>

<script>
export default {
  name: 'SortingVisualisationComponent',
  props: {

  },
  data: () => ({
    arr: [],
    arrLength: 100,
    arrSortingLength: 100,
    arrMaxValue: 100,
    ctx: null,
    canvas: {
      width: 500,
      height: 200,
      xStart: 50,
      xEnd: null,
      yStart: 50,
      yEnd: null
    },
    barWith: null,
    xStep: null,
    yStep: null,
    indexB: 0,
    indexA: 0,
    delay: 3
  }),
  computed: {

  },
  created () {
  },
  mounted() {
    this.initCanvas()
    this.initArray()
  },
  methods: {
    initArray () {
      this.indexA = 0
      this.arr = []
      for (let i=0; i < this.arrLength; i++) {
        let elem = Math.round(Math.random()*100)
        this.arr.push(elem)
      }
      this.diagram()
    },
    bubbleSort () {
      this.arrSortingLength = this.arr.length - 1
      for (let i=0; i < this.arrSortingLength; i++) {
        setTimeout(() => {
          this.sortStep()
          this.arrSortingLength--
        },i * this.arr.length * this.delay)
      }
    },
    sortStep () {
      for (let i = 0; i < this.arrSortingLength; i++){
          setTimeout(() => {
            this.indexB = i
            if (this.arr[i] > this.arr[i+1]) {
              let buffer = this.arr[i]
              this.arr[i] = this.arr[i + 1]
              this.arr[i + 1] = buffer
              this.indexA = i + 1
            }
            this.diagram()
          },  i * this.delay)
        }
    },
    clearCanvas(){
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)
    },
    rect (element, index) {
      let xLeft = this.canvas.xStart + index * (this.xStep + this.barWith)
      let xRight = xLeft + this.barWith
      let yBottom = this.canvas.height - this.canvas.yStart
      let yTop = this.canvas.height - this.canvas.yStart - element * this.yStep

      switch (index) {
        case this.indexA:
          this.ctx.fillStyle = 'red'
          break
        case this.indexB:
          // this.ctx.fillStyle = 'black'
          break
        default:
          this.ctx.fillStyle = 'lightgray'
      }

      this.ctx.beginPath()
      this.ctx.moveTo( xLeft, yBottom)
      this.ctx.lineTo( xLeft, yTop)
      this.ctx.lineTo( xRight, yTop)
      this.ctx.lineTo( xRight, yBottom)
      this.ctx.lineTo( xLeft, yBottom)
      this.ctx.fill();
    },
    diagram () {
      this.clearCanvas()
      this.arr.forEach((element, index)=>{
        this.rect(element, index)
      })
    },
    initCanvas() {
      this.ctx = this.$refs['canvas'].getContext('2d')
      this.canvas.xEnd = this.canvas.width - this.canvas.xStart
      this.canvas.yEnd = this.canvas.height - this.canvas.yStart
      this.barWith = Math.floor((this.canvas.width - this.canvas.xStart * 2) / this.arrLength / 2)
      this.xStep = Math.floor((this.canvas.width - this.canvas.xStart * 2) / this.arrLength) - this.barWith
      this.yStep = Math.floor((this.canvas.height - this.canvas.yStart * 2) / this.arrMaxValue)
    }
  }
}
</script>

<style scoped lang="scss">
  @import "SortingVisualisationComponent";
</style>
